
/* 样式不影响，只是为了容易看 */

.sample {
  display: block;
  font-size: 24px;
  width: 200px;
  height: 80px;
  line-height: 80px;
  color: #fff;
  background-color: #999;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}